.custom-card {
  background-color: var(--surface);
  color: var(--primary);
  border-radius: var(--border-radius);
  border: var(--border-default);
  margin-bottom: 6px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 12px;
  max-width: none;
  min-height: 200px;
  height: auto;
  font-family: var(--font-primary);
}

.card-icon {
  margin-right: 10px;
}

.card-link {
  font-weight: var(--font-weight-regular);
  margin-top: 8px;
}

.star,
.star-fill {
  margin-bottom: 8px;
  cursor: pointer;
}

.star:hover,
.star-fill:hover {
  transform: scale(1.2);
}

.star {
  color: var(--title);
}

.star-fill {
  color: var(--secondary-600);
}
