.custom-card {
  background-color: var(--surface);
  color: var(--primary);
  border-radius: var(--border-radius);
  margin-bottom: 6px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 12px;
  min-height: 200px;
  height: auto;
  font-family: var(--font-primary);
}

.card-icon {
  margin-right: 10px;
}

.card-button,
.card-button:focus {
  background-color: var(--surface);
  color: var(--primary);
  border-color: var(--primary);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  display: flex;
  align-items: center;
}

.card-button:hover,
.card-button:active {
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
  color: var(--background) !important;
}

.card-link {
  font-weight: var(--font-weight-regular);
  margin-top: 8px;
}

.star,
.star-fill {
  margin-bottom: 8px;
  cursor: pointer;
}

.star:hover,
.star-fill:hover {
  transform: scale(1.2);
}

.star {
  color: var(--primary);
}

.star-fill {
  color: var(--secondary-600);
}
