* {
  box-sizing: border-box;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  width: 122px;
  height: 32px;
  background-color: #f3f5f7;
  border: 1px solid #e0e6eb;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #404040;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; /* Posiziona il menu appena sotto il pulsante */
  left: 0;
  background-color: #f0f3f5;
  min-width: 145px;
  border: 1px solid #e0e6eb;
  border-radius: 3px;
  z-index: 1000; /* Assicura che il menu sia in primo piano */
  flex-direction: column;
  align-items: flex-start;
  padding: 4px;
}

.dropdown-content a {
  color: #404040;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content button {
  color: #404040;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.show {
  display: flex;
}
