.custom-navbar {
  background-color: var(--surface);
  color: var(--primary);
  z-index: 5;
  width: 100%;
  position: fixed;
}

.nav-logo.toggle {
  display: none;
}

.nav-logo-reduced.toggle {
  display: block;
}

@media (min-width: 1100px) {
  .nav-logo {
    display: block;
  }

  .nav-logo-reduced {
    display: none;
  }
}

@media (max-width: 1100px) {
  .nav-logo {
    display: none;
  }

  .nav-logo-reduced {
    display: block;
  }
}

@media (max-width: 600px) {
  .nav-logo {
    display: none;
  }

  .nav-logo-reduced {
    display: none !important;
  }
}

.sidebar-modal-toggler:focus:not(:focus-visible) {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.dropdown-submenu {
  background-color: var(--surface);
  position: relative;
}

.dropdown-submenu .submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  margin-top: -1px;
}

.dropdown-submenu:hover .submenu {
  display: block;
}

.dropdown-menu {
  color: var(--primary);
  background-color: var(--surface);
  border: 1px solid var(--tag-border);
}

.dropdown-item {
  color: var(--primary);
  background-color: var(--surface);
  font-family: var(--font-primary);
}

.dropdown-item:hover {
  color: var(--primary);
  background-color: var(--background);
}

.dropdown-item:focus {
  color: var(--primary);
  background-color: var(--background);
}

.theme-toggle-container {
  border: 1px solid var(--background);
  border-radius: 10px;
  background-color: var(--background);
  height: 38px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 4px 0 rgba(var(--background-inverted-rgb), 0.25);
}

.theme-toggle {
  position: relative;
  height: 36px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.theme-toggle label {
  padding: 8px;
  z-index: 1;
  display: flex;
  align-items: center;
}
.theme-toggle::before {
  content: '';
  position: absolute;
  width: 33.33%;
  height: 100%;
  background: var(--surface);
  border: var(--background) solid 1px;
  border-radius: 9px;
  transition: 0.5s left ease;
}

.theme-toggle:has(#theme-toggle-radio1:checked)::before {
  left: 0%;
}
.theme-toggle:has(#theme-toggle-radio2:checked)::before {
  left: 33.33%;
}
.theme-toggle:has(#theme-toggle-radio3:checked)::before {
  left: 66.66%;
}
