.custom-navbar {
  background-color: var(--surface);
  color: var(--primary);
  z-index: 5;
  width: 100%;
  position: fixed;
}

.nav-logo.toggle {
  display: none;
}

.nav-logo-reduced.toggle {
  display: block;
}

@media (min-width: 1100px) {
  .nav-logo {
    display: block;
  }

  .nav-logo-reduced {
    display: none;
  }
}

@media (max-width: 1100px) {
  .nav-logo {
    display: none;
  }

  .nav-logo-reduced {
    display: block;
  }
}

@media (max-width: 600px) {
  .nav-logo {
    display: none;
  }

  .nav-logo-reduced {
    display: none !important;
  }
}

.sidebar-modal-toggler:focus:not(:focus-visible) {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.dropdown-submenu {
  background-color: var(--surface);
  position: relative;
}

.dropdown-submenu .submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  margin-top: -1px;
}

.dropdown-submenu:hover .submenu {
  display: block;
}

.dropdown-menu {
  color: var(--dropdown-color);
  background-color: var(--surface);
  border-color: var(--dropdown-border);
  padding: 0.25rem;
}

.dropdown-item {
  border-radius: 0.25rem;
  color: var(--dropdown-color);
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item.active {
  color: var(--dropdown-color);
  background-color: var(--dropdown-hover);
}
