.custom-list-group {
  position: absolute;
  width: calc(100% - 15px) !important;
  margin-top: 40px;
  margin-left: 0px;
}

.custom-list-group-item {
  background-color: var(--background);
  color: var(--primary);
  font-size: var(--font-size-xs);
}

.truncated::placeholder {
  color: var(--placeholder);
  opacity: 1;
}

.search-icon {
  position: absolute;
  z-index: 3;
  right: 13px;
  top: 10px;
  color: var(--primary);
}
