.custom-list-group {
  position: absolute;
  margin-left: 0px;
  z-index: 3;
}

.custom-list-group-item {
  background-color: var(--background);
  border-color: var(--border-color);
  color: var(--primary);
  font-size: var(--font-size-xs);
}

.custom-list-group-item:hover {
  background-color: var(--custom-dropdown-hover);
  border-color: var(--border-color);
  color: var(--primary);
}

.truncated::placeholder {
  color: var(--placeholder);
  opacity: 1;
}

.search-icon {
  position: absolute;
  z-index: 3;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--gray-500);
}
