.custom-sidebar {
  background-color: var(--surface);
  color: var(--primary);
  z-index: 4;
  width: 224px;
  padding: 0;
  margin-top: 78px;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  transition-duration: 0.5s;
}

.custom-sidebar::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1100px) {
  .sidebar-modal-toggler {
    display: none;
  }
}

@media (max-width: 1100px) {
  .custom-sidebar.reduced {
    width: 84px;
  }

  .sidebar-text {
    display: none;
  }

  .sidebar-modal-toggler {
    display: none;
  }
}

@media (max-width: 600px) {
  .custom-sidebar.reduced {
    display: none;
  }

  .sidebar-modal-toggler {
    display: block;
  }
}

.custom-sidebar .nav-link {
  color: var(--primary);
  padding-right: 0;
  margin-left: 16px;
  border-radius: 6px;
  margin-bottom: 14px;
  margin-right: 8px;
  display: flex;
}

.custom-sidebar .nav-link:hover {
  background-color: var(--navy);
  color: var(--white);
}

.custom-sidebar .nav-link.active {
  background-color: var(--primary);
  color: var(--background);
}

.sidebar-text {
  padding-left: 10px;
  font-weight: var(--font-weight-medium);
  margin-top: 3px;
}

.modal-85vw {
  width: 85% !important;
}

.modal-content {
  background-color: var(--surface);
  color: var(--primary);
}

.modal-menu .nav-link {
  color: var(--primary);
  padding-right: 0;
  margin-left: 16px;
  border-radius: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  display: flex;
  padding: 10px;
  font-size: var(--font-size-sm);
  font-weight: 600;
}

.modal-menu .nav-link:hover {
  background-color: var(--navy);
  color: var(--white);
  border-radius: 8px;
}

.modal-menu .nav-link.active {
  background-color: var(--primary);
  color: var(--background);
  border-radius: 8px;
}

.modal-sidebar-text {
  padding-left: 10px;
  font-weight: var(--font-weight-medium);
  margin-top: 3px;
}
