.custom-sidebar-wrapper {
  background-color: transparent;
  width: 220px;
  padding: 0;
  margin-top: 78px;
  height: 100%;
  z-index: 1000;
  position: fixed;
  overflow-y: auto;
  transition-duration: 0.5s;
  pointer-events: none;
}

.sidebar-toggle {
  content: '';
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  right: 0;
  width: 20px;
  height: 20px;
  transform: translateY(-50%) scaleX(1);
  transform-origin: center;
  transition: transform 0.5s;
  pointer-events: auto;
  background: none;
  border: none;
  padding: 0;
  color: var(--primary);
}

.custom-sidebar {
  --r: 20px; /* rounded part */
  --s: 20px; /* size of the cut */
  --a: 25deg; /* depth of the curvature */
  background-color: var(--surface);
  color: var(--primary);
  z-index: 4;
  width: 220px;
  padding: 0;
  margin-top: 78px;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  transition-duration: 0.5s;
  --_m: /var(--r) calc(2 * var(--r)) no-repeat radial-gradient(100% 50% at left, #000 calc(100% - 1px), #0000);
  --_d: (var(--s) + var(--r)) * cos(var(--a));
  mask:
    100% calc(50% + var(--_d)) var(--_m),
    100% calc(50% - var(--_d)) var(--_m),
    radial-gradient(var(--s) at calc(100% + sin(var(--a)) * var(--s)) 50%, #0000 100%, #000 calc(100% + 1px))
      calc(var(--r) * (sin(var(--a)) - 1)) 0 no-repeat,
    linear-gradient(#000 calc(50% - var(--_d)), #0000 0 calc(50% + var(--_d)), #000 0);
  pointer-events: auto;
}

.custom-sidebar::-webkit-scrollbar {
  display: none;
}

.custom-sidebar-wrapper.toggle,
.custom-sidebar.toggle {
  width: 80px;
}

.sidebar-toggle.rotated {
  transform: translateY(-50%) scaleX(-1);
  transition-duration: 0.5s;
}

.sidebar-modal-toggler {
  margin-right: 10px;
}

@media (min-width: 1100px) {
  .sidebar-modal-toggler {
    display: none;
  }
}

@media (max-width: 1100px) {
  .custom-sidebar.reduced {
    width: 80px;
    mask: none;
  }

  .custom-sidebar-wrapper.reduced {
    width: 80px;
    transition-duration: 0.5s;
  }

  .sidebar-toggle {
    display: none;
  }

  .sidebar-text.reduced {
    display: none;
  }

  .sidebar-modal-toggler {
    display: none;
  }
}

@media (max-width: 600px) {
  .custom-sidebar-wrapper.reduced,
  .custom-sidebar.reduced {
    width: 0;
    transition-duration: 0.5s;
  }

  .sidebar-modal-toggler {
    display: block;
  }
}

.custom-sidebar .nav-link {
  border-radius: 4px;
  color: var(--primary);
  padding-right: 0;
  margin-left: 18px;
  margin-bottom: 10px;
  margin-right: 8px;
  display: flex;
  pointer-events: auto;
  height: 40px;
  align-items: center;
}

.custom-sidebar .nav-link:hover {
  background-color: var(--sidebar-bg-active);
  color: var(--sidebar-link);
}

.custom-sidebar .nav-link.active {
  position: relative;
  background-color: var(--sidebar-bg-active);
  color: var(--sidebar-link);
  border-left: 3px solid var(--sidebar-strip);
}

.sidebar-text {
  padding-left: 10px;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  margin-top: 2px;
  white-space: nowrap;
}

.sidebar-text.toggle {
  display: none;
}

.modal-size {
  width: 70vw;
  min-width: 260px;
}

.modal-content {
  background-color: var(--surface);
  color: var(--primary);
}

.modal-menu .nav-link {
  border-radius: 4px;
  color: var(--primary);
  padding-right: 0;
  margin-left: 6px;
  margin-bottom: 10px;
  margin-right: 16px;
  display: flex;
  pointer-events: auto;
  height: 40px;
  align-items: center;
}

.modal-menu .nav-link:hover {
  background-color: var(--sidebar-bg-active);
  color: var(--sidebar-link);
}

.modal-menu .nav-link.active {
  position: relative;
  background-color: var(--sidebar-bg-active);
  color: var(--sidebar-link);
  border-left: 3px solid var(--sidebar-strip);
}

.modal-sidebar-text {
  padding-left: 10px;
  font-weight: var(--font-weight-medium);
}
