.text-style {
  font-family: var(--font-primary);
}

.section-title {
  color: var(--primary);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
}

.subsection-title {
  color: var(--title);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-md);
}

.subsection-proposal-title {
  color: var(--primary);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-lg);
  margin-bottom: 8px;
}

.truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

.important-detail {
  color: var(--primary);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
}

.course-detail {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  white-space: pre-wrap;
}

.custom-link {
  color: var(--primary);
  text-decoration: none;
}

.custom-link:hover {
  color: var(--link);
}

.breadcrumbs_container {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.breadcrumb {
  margin: 1rem 0rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  list-style: none;
}

.breadcrumb-item a {
  color: var(--placeholder);
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--placeholder);
}

.pol-headline.pol-headline--with-bar > h3:before {
  content: '';
  width: 50px;
  height: 5px;
  background: #ef7b02;
  display: block;
  margin-bottom: 15px;
  margin-top: 10px;
}
