.text-style {
  font-family: var(--font-primary);
}

.section-title {
  color: var(--primary);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
}

.subsection-title {
  color: var(--primary);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-lg);
}

.subsection-proposal-title {
  color: var(--primary);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-xl);
  margin-bottom: 8px;
}

.truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

.important-detail {
  color: var(--primary);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
}

.course-detail {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  white-space: pre-wrap;
}

.custom-link {
  color: var(--primary);
  text-decoration: none;
}

.custom-link:hover {
  color: var(--link);
}

.mybreadcrumb {
  font-family: var(--font-primary);
  color: var(--placeholder);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  height: auto;
  padding: 0px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  vertical-align: middle;
}

.mybreadcrumb-element {
  font-family: var(--font-primary);
  color: var(--placeholder);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  display: flex;
  gap: 4px;
  align-items: center;
  vertical-align: middle;
  height: 20px;
  cursor: pointer;
  white-space: nowrap;
  background: none;
  border: none;
  padding: 0;
}

.mybreadcrumb-separator {
  height: 20px;
  display: flex;
  align-items: center;
}

.pol-headline.pol-headline--with-bar > h3:before {
  content: '';
  width: 50px;
  height: 5px;
  background: #ef7b02;
  display: block;
  margin-bottom: 15px;
  margin-top: 10px;
}
