.thesis-topic {
  color: var(--primary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  word-wrap: break-word;
  margin-bottom: 0rem;
}

.thesis-description {
  display: -webkit-box;
  font-size: var(--font-size-sm);
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem !important;
}

.thesis-info-title {
  color: var(--section-description);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  margin-bottom: auto;
}

.info {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}
