.proposals-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 8.675rem;
}

.proposals-main {
  border-radius: 10px;
  display: flex;
  background-color: var(--surface);
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 2%;
}

.filters-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 1rem;
}

.simple-filters-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.filters-section {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.search-icon {
  position: absolute;
  z-index: 3;
  right: 13px;
  top: 10px;
  color: var(--primary);
  height: 1.1rem;
}

.list-section {
  padding-left: 1rem;
  padding-right: 1rem;
}

.list-proposals {
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.list-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
}

.total-count {
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  color: var(--primary);
  font-weight: 600;
  padding-right: 2rem;
}

.accordion {
  --bs-accordion-color: var(--surface);
  --bs-accordion-bg: var(--surface);
  --bs-accordion-border-width: 2px;
  --bs-accordion-border-color: var(--background);
  --bs-accordion-border-radius: 10px;
  --bs-accordion-btn-bg: var(--surface);
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-active-bg: var(--background);
  --bs-accordion-inner-border-radius: 10px;
}

.accordion-header {
  background-color: var(--background);
  border-radius: 8px;
}

.accordion-title {
  font-family: var(--font-primary);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  color: var(--primary);
}

.proposals-toggle-container {
  border: 1px solid var(--background);
  border-radius: 10px;
  background-color: var(--background);
  height: 38px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 4px 0 rgba(var(--background-inverted-rgb), 0.25);
}

.proposals-toggle {
  position: relative;
  height: 34px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.proposals-toggle label {
  padding: 8px;
  z-index: 1;
  display: flex;
  align-items: center;
  color: var(--text);
}

.proposals-toggle-course-en::before {
  width: 69%;
}

.proposals-toggle-all-en::before {
  width: 31%;
}

.proposals-toggle-course-it::before {
  width: 64.5%;
}

.proposals-toggle-all-it::before {
  width: 35.5%;
}

.proposals-toggle::before {
  content: '';
  position: absolute;
  height: 100%;
  background: var(--surface);
  border: var(--background) solid 1px;
  border-radius: 9px;
  transition: 0.5s left ease;
}

.proposals-toggle:has(#proposals-toggle-radio1:checked)::before {
  left: 0%;
}

.proposals-toggle-it:has(#proposals-toggle-radio2:checked)::before {
  left: 64.5%;
}

.proposals-toggle-en:has(#proposals-toggle-radio2:checked)::before {
  left: 69%;
}

@media (max-width: 460px) {
  .proposals-toggle-container {
    height: 50px;
  }

  .proposals-toggle {
    height: 46px;
  }

  .proposals-toggle-course-en::before {
    width: 69%;
  }

  .proposals-toggle-all-en::before {
    width: 31%;
  }

  .proposals-toggle-course-it::before {
    width: 62%;
  }

  .proposals-toggle-all-it::before {
    width: 38%;
  }

  .proposals-toggle:has(#proposals-toggle-radio1:checked)::before {
    left: 0%;
  }

  .proposals-toggle-it:has(#proposals-toggle-radio2:checked)::before {
    left: 62%;
  }

  .proposals-toggle-en:has(#proposals-toggle-radio2:checked)::before {
    left: 69%;
  }
}

.pagination-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1.5rem;
}

.pagination-info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 862px) {
  .pagination-container {
    flex-direction: row;
  }

  .pagination-info {
    flex: 1;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .pagination-controls {
    flex: 1;
    justify-content: flex-end;
    width: auto;
  }
}

@media (max-width: 861px) {
  .pagination-container {
    flex-direction: column;
  }

  .pagination-info {
    width: 100%;
    justify-content: center;
  }

  .pagination-controls {
    width: 100%;
    justify-content: center;
  }
}

.page-item .page-link {
  margin: 0 3px;
  border-radius: 8px;
}

.page-item.active .page-link {
  color: var(--active-page);
  border-color: var(--active-page-border);
  font-family: var(--font-primary);
}

.page-item .page-link {
  background-color: var(--surface);
  color: var(--text);
  font-family: var(--font-primary);
}

.page-link {
  background-color: var(--primary);
  color: var(--text);
  font-family: var(--font-primary);
}

.page-link:hover {
  background-color: var(--background);
  color: var(--active-page);
  font-family: var(--font-primary);
}

.form-check-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
}

#dropdown-button {
  border-color: transparent !important;
}
