.proposals-container {
  padding: 0rem 0.75rem 2rem 0.75rem;
}

.simple-filters-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filters-section {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.applied-filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
}

.applied-filters-label {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  margin-right: 0.5rem;
  color: var(--primary);
}

.badge-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  flex: 1;
}

.reset-button-container {
  margin-left: auto;
  margin-top: auto;
}

@media (max-width: 768px) {
  .applied-filters-container {
    align-items: stretch;
    flex-direction: column;
  }
}

.list-section {
  padding-left: 1rem;
  padding-right: 1rem;
}

.list-proposals {
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.list-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
}

.accordion {
  --bs-accordion-color: var(--surface);
  --bs-accordion-bg: var(--surface);
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-color: var(--border-color);
  --bs-accordion-border-radius: var(--border-radius);
  --bs-accordion-btn-bg: var(--surface);
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-active-bg: var(--background);
  --bs-accordion-inner-border-radius: calc(var(--border-radius) - (1px));
}

.accordion-title {
  display: flex;
  align-items: center;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  color: var(--primary);
  gap: 0.5rem;
}
