.paginationControls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--text);
}

.pagination {
  display: flex;
  justify-content: space-between;
  /* Distribuisce lo spazio tra gli elementi */
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
}

.paginationControls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
  padding-bottom: 1rem;
  padding-left: 5%;
}

.pagination button {
  margin: 0 0.25rem;
  border: 0.0625rem solid var(--primary);
  border-radius: 0.5rem;
  height: 2.3rem;
  width: 2.3rem;
  background-color: var(--surface);
  align-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--text);
}

.pagination button:hover {
  background-color: var(--placeholder);
}

.pagination .activePage {
  background-color: var(--background);
  color: var(--active-page);
  border: var(--active-page) solid 0.0625rem;
}

.pagination .activePage:hover {
  background-color: var(--background);
  color: var(--active-page);
  border: var(--active-page) solid 0.0625rem;
}
