@media (max-width: 1396px) {
  .filterRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-bottom: 6px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-bottom: 6px;
  }
}

.segmentedControl {
  position: relative;
  display: inline-block;
  width: 27rem;
  height: 2rem;
  cursor: pointer;
  border: 0.0625rem solid var(--border-slider);
  border-radius: 0.5rem;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-slider);
  /* Mantieni il colore di sfondo quando attivo */
  border-radius: 0.5rem;
  border-color: var(--placeholder);
  transition: 0.4s;
  font-family: var(--font-primary);
  font-size: var(--font-size-xs);
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.4375rem;
  /* Altezza del pulsante */
  width: 13rem;
  /* Larghezza del pulsante */
  left: 0.25rem;
  /* Spazio a sinistra */
  bottom: 0.25rem;
  /* Spazio in basso */
  background-color: white;
  border-radius: 0.4rem;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--background-slider);
  /* Colore di sfondo quando attivo */
}

input:checked + .slider:before {
  transform: translateX(13.4rem);
  /* Sposta il pulsante a destra */
}

.toggleText {
  position: absolute;
  top: 50%;
  width: 50%;
  text-align: center;
  font-size: 0.9rem;
  /* Dimensione del font */
  color: black;
  /* Colore del testo */
  transform: translateY(-50%);
  pointer-events: none;
}

.toggleTextLeft {
  left: 0;
}

.toggleTextRight {
  right: 0;
  left: 50%;
}

input:checked + .slider .toggleTextLeft {
  color: var(--text-inactive);
  /*checked significa slider su Tesi per corso di studi*/
}

input:checked + .slider .toggleTextRight {
  color: var(--text-active);
  /* Colore del testo non attivo */
}

input:not(:checked) + .slider .toggleTextLeft {
  color: var(--text-active);
  /* Colore del testo non attivo */
}

input:not(:checked) + .slider .toggleTextRight {
  color: var(--text-inactive);
  /* Colore del testo attivo */
}

@media (max-width: 595px) {
  .segmentedControl {
    width: 100%;
  }

  .segmentedControl {
    position: relative;
    display: inline-block;
    width: 20rem;
    height: 3.2rem;
    cursor: pointer;
    border: 0.0625rem solid var(--border-slider);
    border-radius: 0.5rem;
  }

  .slider {
    font-family: var(--font-primary);
    font-size: var(--font-size-xs);
    font-weight: 500;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 2.6375rem;
    /* Altezza del pulsante */
    width: 9.2rem;
    /* Larghezza del pulsante */
    top: 0.2rem;
    /* Spazio in alto */
    background-color: white;
    border-radius: 0.4rem;
  }

  input:checked + .slider:before {
    transform: translateX(9.5rem);
    /* Sposta il pulsante a destra */
    width: 9.8rem;
    /* Larghezza del pulsante */
  }
}

.thesisList {
  background-color: var(--surface);
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 6px;
}

.thesisListInner {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-start;
}

.paginationControls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--text);
}

.pagination {
  display: flex;
  justify-content: space-between;
  /* Distribuisce lo spazio tra gli elementi */
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
}

.paginationControls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
  padding-bottom: 1rem;
  padding-left: 5%;
}

.paginationNumbers {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  /* Permette ai numeri di pagina di occupare lo spazio centrale */
}

.pagination button {
  margin: 0 0.25rem;
  border: 0.0625rem solid var(--primary);
  border-radius: 0.5rem;
  height: 2.3rem;
  width: 2.3rem;
  background-color: var(--surface);
  align-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--text);
}

.pagination button:hover {
  background-color: var(--placeholder);
}

.pagination .activePage {
  background-color: var(--background);
  color: var(--active-page);
  border: var(--active-page) solid 0.0625rem;
}

.pagination .activePage:hover {
  background-color: var(--background);
  color: var(--active-page);
  border: var(--active-page) solid 0.0625rem;
}

.totalItems {
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  font-weight: 500;
  padding-right: 5%;
  padding-left: 5%;
  color: var(--text);
}

.ellipsis {
  margin: 0 0.25rem;
  border: 0.0625rem solid var(--placeholder);
  border-radius: 0.5rem;
  background-color: var(--background);
  cursor: default;
  pointer-events: none;
}

@media (max-width: 768px) {
  .paginationEmpty {
    flex-grow: 0;
  }
}

@media (max-width: 320px) {
  .paginationControls {
    padding-left: 0;
  }
}
