.main-space {
  height: auto;
  margin-top: 86px;
  background-color: var(--surface);
  margin-left: 220px;
  display: flex;
  padding-left: 0px !important;
  transition-duration: 0.5s;
}

.custom-content {
  padding-right: 16px !important;
  padding-left: 16px !important;
  transition-duration: 0.5s;
  background-color: var(--background);
  height: 100%;
  border-top-left-radius: 12px;
}

.detail-title {
  min-width: 200px;
}

.main-space.toggle {
  margin-left: 80px;
}

@media (max-width: 1100px) {
  .main-space.reduced {
    margin-left: 80px;
  }
}

@media (max-width: 850px) {
  .detail-title {
    min-width: 100%;
  }

  .detail-row {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .main-space.reduced {
    margin-left: 12px;
  }

  .custom-content.reduced {
    border-top-left-radius: 0px;
  }
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background);
}

.title {
  color: var(--primary);
  display: flex;
  align-items: center;
  text-align: start;
}

.subsection {
  padding: 8px;
}

/* unused */
.subsection-icon {
  margin-right: 10px;
  position: relative;
  bottom: 2px;
}

.custom-container {
  background-color: var(--surface);
  border-radius: 10px;
  margin-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 8px;
}

.list-group-item-action:hover {
  border-color: var(--light-navy);
  background-color: var(--light-navy);
}

.list-group-item-action:focus {
  background-color: var(--navy);
  color: var(--white);
}

/* unused */
.custom-button {
  height: 40px;
  color: var(--primary);
  border-color: var(--primary);
  background-color: var(--surface);
  padding-top: 6px;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base);
  border-radius: 6px;
  overflow: hidden;
}

.custom-button:hover {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--background);
  transform: scale(1.04);
}

.custom-button.active {
  background-color: var(--dark-navy);
  border-color: var(--dark-navy);
  color: var(--white);
}

/* unused */
.custom-pill-button {
  height: 40px;
  border-color: var(--light-navy-transparent);
  background-color: var(--pill-button);
  color: var(--medium-navy);
  padding-top: 6px;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base);
  border-radius: 6px;
  overflow: hidden;
}

.custom-pill-button:hover {
  border: var(--light-navy);
  background-color: var(--light-navy);
  color: var(--medium-navy);
  transform: scale(1.02);
}

.custom-pill-button.active {
  background-color: var(--navy);
  border-color: var(--navy);
  color: var(--white);
}

/* unused */
.regular-weight {
  font-weight: var(--font-weight-regular);
}

.medium-weight {
  font-weight: var(--font-weight-medium);
}

.semibold-weight {
  font-weight: var(--font-weight-semibold);
}

.bold-weight {
  font-weight: var(--font-weight-bold);
}

.form-control:focus {
  border-color: var(--primary);
  border-width: 2px;
  box-shadow: none;
}

.click-notifica {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  background-color: var(--surface);
  color: var(--text);
  border: none;
  text-align: left;
  width: 100%;
}

.click-notifica:hover {
  background-color: var(--light-navy);
  color: var(--black);
}

.click-notifica:active {
  background-color: var(--navy);
  color: var(--white);
}

.custom-popover {
  width: 1000px !important;
  background-color: var(--surface);
  color: var(--text);
}

.card-container {
  margin-left: 0;
  max-width: 1416px;
}

.expire-section {
  background-color: rgba(var(--surface-dark-rgb), 0.85);
  color: var(--white);
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
  border: 2px solid rgba(var(--surface-dark-rgb), 1);
  font-size: var(--font-size-sm);
  vertical-align: baseline;
}

.no-break {
  display: inline-block;
  white-space: nowrap;
}

.floating-button {
  position: fixed;
  z-index: 100;
  right: 3%;
  bottom: 4%;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background-color: rgba(var(--medium-orange-rgb), 0.7);
  color: var(--background-light);
  border-width: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-button:hover {
  background-color: rgba(var(--medium-orange-rgb), 0.85);
  box-shadow: 0 4px 10px rgba(var(--medium-orange-rgb), 0.25);
}

.floating-button:active {
  background-color: rgba(var(--medium-orange-rgb), 1) !important;
}

.text-toggle-container {
  border: 1px solid var(--background);
  border-radius: 5px;
  background-color: var(--background);
  height: 24px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 4px 0 rgba(var(--background-inverted-rgb), 0.25);
}

.text-toggle {
  position: relative;
  height: 22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.text-toggle label {
  padding: 8px;
  z-index: 1;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  cursor: pointer;
  color: var(--primary);
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  text-align: center;
}

.text-toggle::before {
  content: '';
  position: absolute;
  width: 45%;
  height: 100%;
  background: var(--surface);
  border: var(--background) solid 1px;
  border-radius: 4px;
  transition: 0.5s left ease;
  left: 0%; /* Ensure the toggle starts from the left */
}

.text-toggle:has(#text-toggle-radio1:checked)::before {
  left: 0%;
}

.text-toggle:has(#text-toggle-radio2:checked)::before {
  left: 45%;
  width: 55%;
}
