{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "semi": true,
  "importOrder": ["^react$", "^react-(.*)$", "^@?\\w", "^@/(.*)", "^[../]", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
