.rbc-calendar {
  color: var(--text);
}

.rbc-header,
.rbc-header + .rbc-header {
  font-family: var(--font-primary);
}

.rbc-event-label {
  font-family: var(--font-primary);
}

.rbc-label {
  font-weight: var(--font-weight-medium);
}

.rbc-events-container {
  margin-right: 0px !important;
}

.rbc-button-link {
  font-weight: var(--font-weight-medium);
}

.rbc-date-cell {
  z-index: 3;
}

.custom-rbc-toolbar button {
  background-color: var(--surface);
  border-color: var(--primary);
  color: var(--primary);
  font-weight: var(--font-weight-medium);
}

.custom-rbc-toolbar button:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--background);
  transform: scale(1.02);
}

.custom-rbc-toolbar .view-button {
  font-weight: var(--font-weight-regular);
}

.custom-rbc-toolbar .view-button.active {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--background);
  font-weight: var(--font-weight-medium);
}

.custom-rbc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-weight-semibold);
  margin-bottom: 8px;
}

.toolbar-reduced {
  display: none;
}

@media screen and (max-width: 600px) {
  .toolbar-reduced {
    display: block;
  }
  .toolbar-expanded {
    display: none;
  }
}

.rbc-time-content::-webkit-scrollbar {
  display: none;
}

.rbc-time-header.rbc-overflowing {
  margin-right: 0 !important;
}

.rbc-time-header-content .rbc-allday-cell {
  display: none;
}

.rbc-row-segment {
  position: relative;
  top: -20px;
}

.timetable {
  justify-content: flex-start;
}

.rbc-current-time-indicator {
  color: var(--dark-navy);
  background-color: var(--dark-navy);
}
