.rbc-header,
.rbc-header + .rbc-header {
  font-family: 'Montserrat', sans-serif;
}

.rbc-event-label {
    font-family: 'Montserrat', sans-serif;
}

.rbc-label {
    font-weight: 500;
}

.rbc-events-container{
    margin-right: 0px !important;
}

.rbc-button-link {
    font-weight: 500;
    
}

.rbc-date-cell {
    z-index: 3;
}

.custom-rbc-toolbar button {
    background-color: #002B49;
    border-color: #FFFFFF;
    color: #FFFFFF;
    font-weight: 500;
}

.custom-rbc-toolbar button:hover {
    background-color: #006DB9;
    border-color: #006DB9;
    color: #FFFFFF;
    transform: scale(1.02);
}

.custom-rbc-toolbar .view-button{
    font-weight: 400;
}

.custom-rbc-toolbar .view-button.active{
    background-color: #EF7B00;
    border-color: #FFFFFF;
    font-weight: 500;
}

.custom-rbc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin-bottom: 8px;
}

.toolbar-reduced {
    display: none;
}

@media screen and (max-width: 600px) {

    .toolbar-reduced {
      display: block;
    }
    .toolbar-expanded{
        display: none;
    }
  }

.rbc-time-content::-webkit-scrollbar {
    display: none;
}

.rbc-time-header.rbc-overflowing {
    margin-right: 0 !important;
}

.rbc-time-header-content .rbc-allday-cell{
    display: none;
}

.rbc-row-segment {
    position: relative;
    top: -20px;
}

.timetable {
    justify-content: flex-start;
}