.custom-card {
  background-color: var(--surface);
  color: var(--primary);
  border-radius: 32px;
  margin-bottom: 16px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 8px;
  min-height: 200px;
  height: 100%;
}

.card-title {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-lg);
  padding-left: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  word-wrap: break-word;
  margin-bottom: 8px;
  width: 100%;
}

.card-icon {
  margin-right: 20px;
  margin-bottom: 2px;
}

.card-button {
  height: 40px;
  background-color: var(--surface);
  color: var(--primary);
  border-color: var(--primary);
  padding-top: 7px;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base);
  border-radius: 10px;
  overflow: hidden;
  text-align: end;
}

.card-button:hover {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--background);
}

.card-link {
  font-weight: var(--font-weight-regular);
  margin-top: 8px;
}

.star {
  margin-right: 16px;
  margin-bottom: 8px;
  cursor: pointer;
}

.star:hover {
  transform: scale(1.2);
}
