.custom-sidebar {
  background-color: var(--surface);
  color: var(--primary);
  z-index: 4;
  width: 224px;
  padding: 0;
  margin-top: 80px;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
}

.custom-sidebar::-webkit-scrollbar {
  display: none;
}

@media (max-width: 991px) {
  .custom-sidebar.reduced {
    width: 84px;
  }

  .sidebar-text {
    display: none;
  }
}

.custom-sidebar .nav-link {
  color: var(--primary);
  padding-right: 0;
  margin-left: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
  margin-right: 8px;
  display: flex;
}
.custom-sidebar .nav-link:hover {
  background-color: var(--navy);
  color: var(--white);
}

.custom-sidebar .nav-link.active {
  background-color: var(--primary);
  color: var(--background);
}

.sidebar-text {
  padding-left: 10px;
  font-weight: var(--font-weight-medium);
}
