.custom-sidebar {
    background-color: #002B49;
    color: #fff;
    z-index: 3;
    width: 224px;
    padding: 0;
    margin-top: 80px;
    height: 100vh;
    position: fixed;
}

.nav-link {
    color: #fff;
    padding-right: 0;
    margin-left: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    margin-right: 8px;
    display: flex;
}
.nav-link:hover {
    background-color: #004C81;
    color: #fff;
}

.nav-link.active {
    background-color: #EF7B00;
    color: #fff;
}

.sidebar-text{
    padding-left: 10px;
    font-weight: 500;
    /*display: none;*/
}

.custom-sidebar-reduced {
    background-color: #002B49;
    color: #fff;
    z-index: 3;
    width: 84px;
    padding: 0;
    margin-top: 80px;
    height: 100vh;
    position: fixed;
}

.custom-sidebar-reduced .sidebar-text{
    display: none;
}


/* Sidebar espandibile
.custom-sidebar:hover .sidebar-text {
    display: block;
}
.custom-sidebar:hover{
    width: 224px;
}
*/