.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2vw;
  padding-bottom: 1%;
  padding-top: 0.5%;
}

.mainContent {
  border-radius: 1rem; /* 16px in rem */
  background-color: #fff;
  display: flex;
  margin-top: 1.125rem; /* 18px in rem */
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
  padding-bottom: 2%;
}

.subHeader {
  display: flex;
  gap: 0.625rem; /* 10px in rem */
  color: #002b49;
  font: 0.3rem Montserrat, -apple-system, Roboto, Helvetica, sans-serif; /* 18px in rem */
  width: 100%; /* Assicurati che il subHeader occupi tutta la larghezza */
  padding-top: 2%;
  padding-left: 1%;
  align-items: center;
}

.subHeaderIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 1.75rem; /* 28px in rem */
}

.contentWrapper {
  display: flex;
  margin-top: 0.875rem; /* 14px in rem */
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1; 
  overflow: auto;
}


.card {
  border-radius: 0.125rem; /* 2px in rem */
  border: 0.0625rem solid rgba(0, 0, 0, 0.06); /* 1px in rem */
  background-color: #fff;
  display: flex;
  width: 100%;
  margin-bottom: 1.25rem; /* 20px in rem */
}


.cardBody {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 1.75rem; 
}

.filterSection {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap; 
  padding-left: 3%;
  padding-right: 3%;
  border-color: #f0f0f0;
}

.filterWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
}

.segmentedControl {
  position: relative;
  display: inline-block;
  width: 27rem; 
  height: 2rem; 
  background-color: #cccbcc; 
  border-radius: 0.5rem;
  border: #c0c0c0 solid 0.0625rem; 
  cursor: pointer;
}

.segmentedControl input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccbcc; /* Mantieni il colore di sfondo quando attivo */
  border-radius: 0.5rem;
  transition: 0.4s;
  font: 500 1rem Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4375rem; /* Altezza del pulsante */
  width: 13rem; /* Larghezza del pulsante */
  left: 0.25rem; /* Spazio a sinistra */
  bottom: 0.25rem; /* Spazio in basso */
  background-color: white;
  border-radius: 0.5rem;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #cccbcc; /* Colore di sfondo quando attivo */
}

input:checked + .slider:before {
  transform: translateX(13.5rem); /* Sposta il pulsante a destra */
}

.toggleText {
  position: absolute;
  top: 50%;
  width: 50%;
  text-align: center;
  font-size: 0.9rem; /* Dimensione del font */
  color: black; /* Colore del testo */
  transform: translateY(-50%);
  pointer-events: none;
}

.toggleTextLeft {
  left: 0;
}

.toggleTextRight {
  right: 0;
  left: 50%;
}

.segmentedControlInner {
  display: flex;
  width: 100%;
  position: relative;
}

.segmentedItem {
  padding: 0.25rem 0.5rem; /* 4px 8px in rem */
  border-radius: 0.5rem; /* 8px in rem */
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1;
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: #cccbcc; /* Colore di sfondo per il pulsante non attivo */
}

.segmentedItemActive {
  background-color: #fff;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.05); /* 2px 8px in rem */
  border: none;
  position: absolute;
  top: 0.25rem; /* 4px in rem */
  bottom: 0.25rem; /* 4px in rem */
  left: 0.25rem; /* 4px in rem */
  right: 50%; /* 50% della larghezza */
  transition: left 0.3s ease, right 0.3s ease;
  z-index: 0;
}

.segmentedItemActive:nth-child(2) {
  left: 50%; /* 50% della larghezza */
  right: 0.25rem; /* 4px in rem */
}

.segmentedItemInactive {
  background-color: #cccbcc; /* Colore di sfondo per il pulsante non attivo */
  box-shadow: none;
  border: none;
}

.segmentedItemInactive:hover {
  background-color: #c0c0c0; /* Colore di sfondo per l'hover del pulsante non attivo */
}

.searchBar {
  border-radius: 0.5rem; 
  background-color: #f0f3f5;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-start;
  width: 100%;
  max-height: 2rem;
  max-width: 15rem; 
  border: 0.0625rem solid #cccbcc; 
}

.searchBarInner {
  display: flex;
  min-height: 2rem; 
  width: 100%;
  gap: 0.25rem; 
  justify-content: flex-start;
  padding: 0.25rem 0.4375rem 0.25rem 0.625rem; 
  font: 400 0.875rem Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

.searchInput {
  flex: 1;
  border: none;
  background: none;
  padding: 0.5rem; 
  font-size: 0.875rem; 
  outline: none;
}

.searchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem; /* 8px in rem */
}

.searchIconImage {
  width: 1rem; /* 20px in rem */
  height: 1rem; /* 20px in rem */
}

.sortBy {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #f0f3f5; /* Colore di sfondo del riquadro */
  border: 0.0625rem solid #cccbcc; /* Bordo del riquadro */
  border-radius: 0.5rem; /* Bordo arrotondato del riquadro */
  padding: 0.5rem; /* Padding interno del riquadro */
  max-height: 2rem;
  font: 400 0.875rem Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: bold;
  color:#3b3b3b;
}

.sortByInner {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sortByLabel {
  font-weight: bold;
}

.sortBySelect {
  background-color: #f0f3f5; /* Rimuove il colore di sfondo bianco */
  border: none; /* Rimuove il bordo del menu a tendina */
  font-size: 0.875rem; /* 14px in rem */
  outline: none;
  cursor: pointer;
}

@media(max-width: 768px) {
    .filterSection {
      flex-direction: column;
      align-items: flex-start;
      align-content: center;
      justify-content: space-between;
  }

  .segmentedControl {
    position: relative;
    display: inline-block;
    width: 20rem; 
    height: 2.5rem; 
    background-color: #cccbcc; 
    border-radius: 0.5rem;
    border: #c0c0c0 solid 0.0625rem; 
    cursor: pointer;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 1.9rem; /* Altezza del pulsante */
    width: 9.2rem; /* Larghezza del pulsante */
    left: 0.25rem; /* Spazio a sinistra */
    bottom: 0.25rem; /* Spazio in basso */
    background-color: white;
    border-radius: 0.5rem;
    transition: 0.4s;
  }
  input:checked + .slider:before {
    transform: translateX(8.9rem); /* Sposta il pulsante a destra */
  }
} 

.thesisList {
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.thesisListInner {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-start;
}

.thesisItem {
  border: 0.0625rem solid #d9d9d9; /* 1px in rem */
  border-radius: 1;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 0 -1px 0 0 #f0f0f0 inset;
  display: flex;
  max-width: 100%;
  gap: 40px;
  overflow: hidden;
  justify-content: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.75rem;
  padding-top: 1.75rem;
}

.thesisItemContent {
  display: flex;
  min-width: 240px;
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  flex-basis: 0%;
}

.thesisItemMeta {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.thesisTitle {
  width: 100%;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font: 500 1.25rem Montserrat, -apple-system, Roboto, Helvetica, sans-serif; /* Riduci la dimensione del font */
}

.tagGroup {
  display: flex;
  margin-top: 0.6rem;
  width: 100%;
  align-items: flex-start;
  gap: 0.3rem;
  color: #002b49;
  justify-content: flex-start;
  flex-wrap: wrap;
  font: 400 0.8rem/2 Roboto, sans-serif;
}

.tag {
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background-color: #fafafa;
  gap: 3px;
  overflow: hidden;
  font-family: Montserrat, sans-serif;
  color: #002b49;
  padding: 0.0625rem 0.5rem;
}

.thesisDescription {
  display: flex;
  margin-top: 16px;
  min-height: 68px;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  color: #333;
  justify-content: flex-start;
  font: 400 14px/22px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .thesisDescription {
    max-width: 100%;
  }
}

.thesisMetaInfo {
  position: relative;
  display: flex;
  margin-top: 0.3rem;
  width: 100%;
  align-items: flex-start;
  gap: 40px 100px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  justify-content: flex-start;
}

.professorTag {
  align-items: center;
  border-radius: 0.5rem;
  border: 0.0625rem solid #91d5ff;
  background-color: #e6f7ff;
  z-index: 0;
  display: flex;
  gap: 0.1875rem;
  font-size: 0.875rem;
  color: #008ef1;
  line-height: 2;
  justify-content: flex-start;
  margin: auto 0;
  padding: 0.0625rem 0.5rem;
}

.professorName {
  align-self: stretch;
  overflow: hidden;
  margin: auto 0;
}

.thesisTypeTag {
  align-items: center;
  border-radius: 8px;
  border: 0.8px solid #002b49;
  background-color: #f0f5ff;
  align-self: flex-start;
  position: absolute;
  z-index: 0;
  display: flex;
  gap: 8px;
  font-size: 12px;
  color: #002b49;
  line-height: 2;
  justify-content: flex-start;
  right: 0;
  bottom: 1px;
  padding: 1px 8px;
}

.thesisTypeIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
  align-self: stretch;
  margin: auto 0;
}

.thesisTypeText {
  align-self: stretch;
  gap: 3px;
  margin: auto 0;
}

.thesisItemFooter {
  position: relative;
  display: flex;
  margin-top: 0.5rem;
  min-height: 22px;
  width: 100%;
  align-items: flex-start;
  gap: 1rem;
  color: rgba(27, 31, 38, 0.72);
  justify-content: flex-start;
  font: 400 0.875rem/2 Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

.expirationDate {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  margin-left: auto; /* Aggiungi questa riga per spingere la data di scadenza a destra */
}

.expirationDateValue {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.showMoreButton {
  border-radius: 0.5rem; /* 8px in rem */
  border: 0.0625rem solid #d9d9d9; /* 1px in rem */
  background-color: #fff;
  box-shadow: 0 0.125rem 0 0 rgba(0, 0, 0, 0.02); /* 2px in rem */
  min-height: 1.375rem; /* 22px in rem */
  gap: 0.625rem; /* 10px in rem */
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  padding: 0 0.9375rem; /* 0 15px in rem */
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.showMoreButton:hover {
  background-color: #e0e0e0; /* Colore di sfondo per l'hover */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 4px 8px in rem */
}

.visually-hidden {
  position: absolute;
}

.paginationControls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  font: 500 1rem Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

.pagination {
  display: flex;
  justify-content: space-between; /* Distribuisce lo spazio tra gli elementi */
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
}

.paginationControls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
  padding-bottom: 1rem;
  padding-left: 5%;
}

.paginationNumbers {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Permette ai numeri di pagina di occupare lo spazio centrale */
}


.pagination button {
  margin: 0 0.25rem;
  border: 0.0625rem solid #c0c0c0;
  border-radius: 0.5rem;
  height: 2.3rem;
  width: 2.3rem;
  background-color: #fff;
  align-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font: 500 1rem Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

.pagination button:hover {
  background-color: #c0c0c0;
}

.pagination .activePage {
  background-color: #fff;
  color: #008ef1;
  border: #008ef1 solid 0.0625rem;
}

.totalItems {
  font: 400 0.875rem Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  padding-right: 5%;
  padding-left: 5%;
}

.ellipsis {
  margin: 0 0.25rem;
  border: 0.0625rem solid #c0c0c0;
  border-radius: 0.5rem;
  background-color: #fff;
  cursor: default;
  pointer-events: none;
}

@media(max-width: 768px) {
  .paginationEmpty {
    flex-grow: 0;
  }
}

@media(max-width: 320px) {
  .paginationControls {
    padding-left: 0;
  }
}

.creationDate{
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  margin-left: auto; 
  font: 400 00.875rem/2 Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  color: #484b50;
  margin-right: 0;
}
