.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5.675rem;
}

.mainContent {
  border-radius: 1rem;
  /* 16px in rem */
  background-color: var(--surface);
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
  padding-bottom: 2%;
}

.card {
  background-color: var(--surface);
  display: flex;
  width: 100%;
  margin-bottom: 1.25rem;
  /* 20px in rem */
}

.cardBody {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 1.75rem;
}

.filterRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin-bottom: 8px;
}

@media(max-width: 1396px) {
  .filterRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-bottom: 6px;
  }
  .pagination{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-bottom: 6px;
  }
}

.segmentedControl {
  position: relative;
  display: inline-block;
  width: 27rem;
  height: 2rem;
  cursor: pointer;
  border: 0.0625rem solid var(--border-slider);
  border-radius: 0.5rem;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-slider);
  /* Mantieni il colore di sfondo quando attivo */
  border-radius: 0.5rem;
  border-color: var(--placeholder);
  transition: 0.4s;
  font-family: var(--font-primary);
  font-size: var(--font-size-xs);
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.4375rem;
  /* Altezza del pulsante */
  width: 13rem;
  /* Larghezza del pulsante */
  left: 0.25rem;
  /* Spazio a sinistra */
  bottom: 0.25rem;
  /* Spazio in basso */
  background-color: white;
  border-radius: 0.4rem;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: var(--background-slider);
  /* Colore di sfondo quando attivo */
}

input:checked+.slider:before {
  transform: translateX(13.4rem);
  /* Sposta il pulsante a destra */
}

.toggleText {
  position: absolute;
  top: 50%;
  width: 50%;
  text-align: center;
  font-size: 0.9rem;
  /* Dimensione del font */
  color: black;
  /* Colore del testo */
  transform: translateY(-50%);
  pointer-events: none;
}

.toggleTextLeft {
  left: 0;
}

.toggleTextRight {
  right: 0;
  left: 50%;
}

input:checked+.slider .toggleTextLeft {
  color: var(--text-inactive);
  /*checked significa slider su Tesi per corso di studi*/
}

input:checked+.slider .toggleTextRight {
  color: var(--text-active);
  /* Colore del testo non attivo */
}

input:not(:checked)+.slider .toggleTextLeft {
  color: var(--text-active);
  /* Colore del testo non attivo */
}

input:not(:checked)+.slider .toggleTextRight {
  color: var(--text-inactive);
  /* Colore del testo attivo */
}


@media (max-width: 595px) {
  .segmentedControl {
    width: 100%;
  }

  .segmentedControl {
    position: relative;
    display: inline-block;
    width: 20rem;
    height: 3.2rem;
    cursor: pointer;
    border: 0.0625rem solid var(--border-slider);
    border-radius: 0.5rem;
  }

  .slider {
    font-family: var(--font-primary);
    font-size: var(--font-size-xs);
    font-weight: 500;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 2.6375rem;
    /* Altezza del pulsante */
    width: 9.2rem;
    /* Larghezza del pulsante */
    top: 0.2rem;
    /* Spazio in alto */
    background-color: white;
    border-radius: 0.4rem;
  }

  input:checked+.slider:before {
    transform: translateX(9.5rem);
    /* Sposta il pulsante a destra */
    width: 9.8rem;
    /* Larghezza del pulsante */
  }
}

.thesisList {
  background-color: var(--surface);
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 6px;
}

.thesisListInner {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-start;
}

.thesisItem {
  border: 0.0625rem solid var(--background);
  /* 1px in rem */
  border-radius: 1;
  align-items: flex-start;
  background-color: var(--surface);
  box-shadow: 0 -1px 0 0 var(--background) inset;
  display: flex;
  max-width: 100%;
  gap: 40px;
  overflow: hidden;
  justify-content: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.75rem;
  padding-top: 1.75rem;
}

.thesisItemContent {
  display: flex;
  min-width: 240px;
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  flex-basis: 0%;
}

.thesisItemMeta {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.thesisItemHeader {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5rem;
  justify-content: space-between;
}

.thesisTitle {
  width: 100%;
  overflow: hidden;
  color: var(--text);
  font-family: var(--font-primary);
  font-size: var(--font-size-lg);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
}

.tagGroup {
  display: flex;
  margin-top: 0.6rem;
  width: 100%;
  align-items: flex-start;
  gap: 0.3rem;
  color: #002b49;
  justify-content: flex-start;
  flex-wrap: wrap;
  font:
    400 0.8rem/2 Roboto,
    sans-serif;
}

.tag {
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--tag-border);
  background-color: var(--tag-bg);
  gap: 3px;
  overflow: hidden;
  font-family: var(--font-primary);
  color: var(--tag-text);
  padding: 0px 6px;
}

.thesisDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  color: var(--text);
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thesisMetaInfo {
  display: flex;
  flex-wrap: wrap;
  /* Permette ai contenuti di andare a capo */
  gap: 1rem;
  /* Spaziatura tra i gruppi di tag */
  align-items: flex-start;
  justify-content: space-between;
  /* Distribuisce lo spazio tra i gruppi di tag */
}

.professorTag {
  align-items: center;
  border-radius: 0.375rem;
  border: 0.0625rem solid rgba(var(--professor-tag), 0.8);
  background-color: rgba(var(--professor-tag), 0.25);
  display: flex;
  color: rgba(var(--professor-tag), 1);
  justify-content: flex-start;
  padding: 0px 6px;
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
}

.professorName {
  align-self: stretch;
  overflow: hidden;
  margin: auto 0;
}

/* Aggiungi questa classe per il gruppo di tag professor */
.professorTagGroup {
  display: flex;
  flex-wrap: wrap;
  /* Permette ai tag di andare a capo */
  gap: 0.5rem;
  /* Spaziatura tra i tag */
}

/* Aggiungi questa classe per il gruppo di tag type */
.thesisTypeTagGroup {
  display: flex;
  flex-wrap: wrap;
  /* Permette ai tag di andare a capo */
  flex-direction: row;
  justify-content: flex-end;
  /* Allinea i tag a destra */
  gap: 0.5rem;
  /* Spaziatura tra i tag */
}

.thesisTypeTag {
  align-items: center;
  border-radius: 0.375rem;
  border: 0.0625rem solid var(--type-tag-border);
  padding: 0px 6px;
  background-color: var(--type-tag-bg);
  color: var(--type-tag-text);
  display: flex;
  justify-content: center;
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  height: 1.5rem;
}

.thesisTypeIcon {
  margin-right: 0.25rem;
  align-self: left;
  margin-top: -1px;
}

.thesisItemFooter {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  min-height: 22px;
  width: 100%;
  align-items: flex-start;
  gap: 1rem;
  color: rgba(27, 31, 38, 0.72);
  justify-content: flex-start;
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
}

.expirationDate {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  margin-left: auto;
  /* Aggiungi questa riga per spingere la data di scadenza a destra */
  color: var(--text);
}

.expirationDateValue {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.showMoreButton {
  border-radius: 0.5rem;
  /* 8px in rem */
  border: 0.0625rem solid var(--text);
  /* 1px in rem */
  background-color: var(--surface);
  min-height: 1.375rem;
  /* 22px in rem */
  color: var(--text);
  text-align: center;
  padding: 0 6px;
  /* 0 15px in rem */
  cursor: pointer;
  max-width: 200px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.showMoreButton:hover {
  background-color: var(--background);
  /* Colore di sfondo per l'hover */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  /* 4px 8px in rem */
  color: var(--text);
}

.visually-hidden {
  position: absolute;
}

.paginationControls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--text);
}

.pagination {
  display: flex;
  justify-content: space-between;
  /* Distribuisce lo spazio tra gli elementi */
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
}

.paginationControls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
  padding-bottom: 1rem;
  padding-left: 5%;
}

.paginationNumbers {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  /* Permette ai numeri di pagina di occupare lo spazio centrale */
}

.pagination button {
  margin: 0 0.25rem;
  border: 0.0625rem solid var(--primary);
  border-radius: 0.5rem;
  height: 2.3rem;
  width: 2.3rem;
  background-color: var(--surface);
  align-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--text);
}

.pagination button:hover {
  background-color: var(--placeholder);
}

.pagination .activePage {
  background-color: var(--background);
  color: var(--active-page);
  border: var(--active-page) solid 0.0625rem;
}

.pagination .activePage:hover {
  background-color: var(--background);
  color: var(--active-page);
  border: var(--active-page) solid 0.0625rem;
}

.totalItems {
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  font-weight: 500;
  padding-right: 5%;
  padding-left: 5%;
  color: var(--text);
}

.ellipsis {
  margin: 0 0.25rem;
  border: 0.0625rem solid var(--placeholder);
  border-radius: 0.5rem;
  background-color: var(--background);
  cursor: default;
  pointer-events: none;
}

@media (max-width: 768px) {
  .paginationEmpty {
    flex-grow: 0;
  }
}

@media (max-width: 320px) {
  .paginationControls {
    padding-left: 0;
  }
}

.creationDate {
  position: relative;
  overflow: hidden;
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  font-weight: 400;
  color: var(--text);
  margin-right: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.bText {
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--text);
}
