.custom-button {
  background-color: #1a415c;
  color: #fff;
  border-color: #fff;
  padding-bottom: 6px;
}

.content {
  margin-left: 224px;
  position: relative;
  height: 100vh;
  background-color: #f0f3f5;
}

.title{
  display: flex;
  align-items: center;
  padding: 14px;
  padding-left: 10px;
}

.subsection{
  padding: 8px;
}

.subsection-icon{
  margin-right: 10px;
}

.custom-container{
  background-color: #fff;
  border-radius: 10px;
}

.course-summary{
  background-color: #1a415c;
  color: #fff;
  border-radius: 6px;
}