.custom-content {
  margin-left: 224px;
  margin-top: 80px;
  height: 100vh;
  background-color: var(--background-light);
  margin-right: 8px;
}

@media (max-width: 991px) {
  .custom-content.reduced {
    margin-left: 84px;
  }
}

.custom-navbar {
  background-color: var(--white);
  color: var(--dark-navy);
  z-index: 5;
  width: 100%;
  position: fixed;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-light);
}

.title {
  color: var(--dark-navy);
  display: flex;
  align-items: center;
  padding: 14px;
  padding-left: 10px;
}

.subsection {
  padding: 8px;
}

.subsection-icon {
  margin-right: 10px;
}

.custom-container {
  background-color: var(--white);
  border-radius: 10px;
  margin: 0px;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.summary {
  border-color: var(--background-light);
  background-color: var(---background-light);
  color: var(--black);
  border-radius: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.summary:hover {
  border-color: var(--light-navy);
  background-color: var(--light-navy);
}

.summary.selected {
  background-color: var(--dark-navy);
  border-color: var(--dark-navy);
  color: var(--white);
}

.summary-static {
  border-color: var(--background-light);
  background-color: var(--background-light);
  color: var(--black);
  border-radius: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.ticket-category {
  border-color: var(--background-light);
  background-color: var(--background-light);
  color: var(--black);
  border-radius: 16px;
}

.ticket-category:hover {
  border-color: var(--light-navy);
  background-color: var(--light-navy);
}

.ticket-category.active {
  background-color: var(--navy);
  border-color: var(--navy);
  color: var(--white);
}

.list-group-item-action:hover {
  border-color: var(--light-navy);
  background-color: var(--light-navy);
}

.list-group-item-action:focus {
  background-color: var(--navy);
  color: var(--white);
}

.course-bar {
  margin-top: 5px;
  height: 90px;
  width: 30px;
  border-radius: 5px;
  position: absolute;
}

.custom-button {
  height: 40px;
  color: var(--dark-navy);
  border-color: var(--dark-navy);
  background-color: var(--white);
  padding-top: 7px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  overflow: hidden;
}

.custom-button:hover {
  border-color: var(--dark-navy);
  background-color: var(--dark-navy);
  color: var(--white);
  transform: scale(1.02);
}

.custom-button.active {
  background-color: var(--dark-navy);
  border-color: var(--dark-navy);
  color: var(--white);
}

.custom-pill-button {
  height: 40px;
  border-color: var(--light-navy-transparent);
  background-color: var(--light-navy-transparent);
  color: var(--medium-navy);
  padding-top: 7px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  overflow: hidden;
}

.custom-pill-button:hover {
  border: var(--light-navy);
  background-color: var(--light-navy);
  color: var(--medium-navy);
  transform: scale(1.02);
}

.custom-pill-button.active {
  background-color: var(--navy);
  border-color: var(--navy);
  color: var(--white);
}

.course-menu-button {
  width: 9vw;
  align-items: center;
  margin-right: 4px;
}

.accordion-button {
  color: var(--dark-navy);
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 600;
}

.custom-accordion {
  margin-left: 8px;
  border: hidden;
  border-radius: 5px;
}

.ticket-accordion {
  border: hidden;
}

.custom-table .centered-th {
  color: var(--medium-orange);
  position: relative;
  left: -16px;
}

.course-menu-reduced {
  display: none;
}

@media (max-width: 991px) {
  .course-menu {
    display: none !important;
  }

  .course-menu-reduced {
    display: block;
  }
}

.dropdown-toggle-custom::after {
  position: absolute;
  right: 16px;
  top: 14px;
}

.form-control:focus {
  border-color: var(--dark-navy);
  border-width: 2px;
  box-shadow: none;
}

.form-control-materiale {
  border-color: var(--black);
  border-width: 2px;
}

.form-control-materiale:focus {
  border-color: var(--black);
  border-width: 2px;
  box-shadow: none;
}

.modal-body-scrollable {
  max-height: 400px;
  overflow-y: auto;
}

.modal-body-scrollable::-webkit-scrollbar {
  display: none;
}

.notice-container {
  background-color: var(--background-light);
  border-radius: 10px;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.link-container {
  color: var(--black);
  text-decoration: none;
}

.click-notifica {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.click-notifica:hover {
  background-color: var(--light-navy);
}

.click-notifica:active {
  background-color: var(--navy);
  color: var(--white);
}

.custom-popover {
  width: 1000px !important;
}

.zooming-icon:hover {
  transform: scale(1.2);
}

.file-container {
  background-color: var(--background-light);
  border-radius: 10px;
  margin: 0px;
  padding-left: 0px;
  padding-bottom: 8px;
  height: 400px;
}

.file-element {
  background-color: var(--background-light);
  border: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: fit-content;
  display: block;
  cursor: pointer;
}

.file-element:hover {
  background-color: var(--light-navy);
  border-radius: 10px;
}
