.custom-content {
  margin-left: 224px;
  margin-top: 80px;
  height: 100vh;
  background-color: #F0F3F5;
  margin-right: 8px;
}

@media (max-width: 991px) {

  .custom-content.reduced {
      margin-left: 84px;
  }
}

.custom-navbar {
  background-color: #FFFFFF;
  color: #002B49;
  z-index: 5;
  width: 100%;
  position: fixed;
}

body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F0F3F5;
}

.title{
  color: #002B49;
  display: flex;
  align-items: center;
  padding: 14px;
  padding-left: 10px;
}

.subsection{
  padding: 8px;
}

.subsection-icon{
  margin-right: 10px;
}

.custom-container{
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.summary {
  border: #F0F3F5;
  background-color: #F0F3F5;
  color: #000000;
  border-radius: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.summary:hover {
  border: #B7E1FF;
  background-color: #B7E1FF;
}

.summary.selected {
  background-color: #002B49;
  border-color: #002B49;
  color: #FFFFFF; 
}

.ticket-category {
  border: rgba(183, 225, 255, 0.4);
  background-color: rgba(183, 225, 255, 0.4);
  color: #004C81;
  border-radius: 16px;
}

.ticket-category:hover {
  border: #B7E1FF;
  background-color: #B7E1FF;
}

.ticket-category.active {
  background-color: #002B49;
  border-color: #002B49;
  color: white;
}

.list-group-item-action:hover {
  border: #B7E1FF;
  background-color: #B7E1FF;
  color: #004C81;
  transform: scale(1.02);
}


.list-group-item-action:focus{
  background-color: #002B49;
  color: #fff;
}

.course-bar {
  margin-top: 5px;
  height: 90px;
  width: 30px;
  border-radius: 5px;
  position: absolute;
}


.custom-button {
  height: 40px;
  border: rgba(183, 225, 255, 0.4);
  background-color: rgba(183, 225, 255, 0.4);
  color: #004C81;
  padding-top: 7px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  overflow: hidden;
}

.custom-button:hover {
  border: #B7E1FF;
  background-color: #B7E1FF;
  color: #004C81;
  transform: scale(1.02);
}

.custom-button:focus {
  border-color: #002B49;
  background-color: #002B49;
  color: #fff;
}

.custom-button.active  {
  background-color: #002B49;
  border-color: #002B49;
  color: white;
}

.course-menu-button {
  width: 9vw;
  align-items: center;
  margin-right: 4px;
}

.accordion-button {
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 600;
}

.custom-accordion {
  margin-left: 8px;
  border:hidden;
}

.ticket-accordion {
  border: hidden;
}

.custom-table .centered-th {
  color: #EF7B00;
  position: relative;
  left: -16px;
}

.course-menu-reduced{
  display: none;
}

@media (max-width: 991px) {

  .course-menu {
      display: none !important;
  }

  .course-menu-reduced {
      display: block;
  }
}

.dropdown-toggle-custom::after {
  position: absolute;
  right: 16px;
  top:14px;
}

.form-control:focus {
  border-color: #002B49;
  border-width: 2px;
  box-shadow: none;
}

.form-control-materiale {
  border-color: black;
  border-width: 2px;
}

.form-control-materiale:focus {
  border-color: black;
  border-width: 2px;
  box-shadow: none;
}

.modal-body-scrollable {
  max-height: 400px; 
  overflow-y: auto; 
}

.modal-body-scrollable::-webkit-scrollbar {
  display: none;
}

.notice-container {
  background-color: #F0F3F5;
  border-radius: 10px;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.link-container {
  color: #000000;
  text-decoration: none;
}