html {
  overflow-x: hidden;
}

p {
  margin-bottom: 4px;
  margin-left: 0px;
}

a {
  color: var(--primary);
  word-break: break-word !important;
}

body {
  margin: 0;
  padding: 0 !important;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
